@use '/src/styles/utils/index.scss' as *;

.wrapper {
  padding: 120px 20px 40px;
  background: #176B87;

  .container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 40px;
    background: #DAFFFB;
    box-shadow: 0 0 3px 0 rgb(0 0 0 / 16%);

    h1 {
      font-size: 3rem;
      font-weight: bold;
      text-align: center;
      color: #333;
    }

    .image_top {
      margin-top: 60px;
      
      img {
        width: 100%;
        box-shadow: 0 4px 20px hsl(0deg 0% 75% / 20%);
      }
    }

    .caption {
      margin-top: 10px;
      font-size: 1rem;
      text-align: right;
      color: #999;

      a {
        &:hover {
          text-decoration: underline;
        }
      }
    }

    .search {
      margin-top: 40px;
      display: flex;
      justify-content: center;
      gap: 20px;

      input {
        background: #fff;
        padding: 0 20px;
        border-radius: 40px;
      }

      button {
        padding: 10px 20px;
        color: #fff;
        font-size: 20px;
        font-weight: bold;
        background-color: #176b87;
        border-bottom: 5px solid #12566c;
        box-shadow: 0 3px 5px rgba(0, 0, 0, .3);

        &:hover {
          margin-top: 3px;
          color: #fff;
          background: #176b87;
          border-bottom: 2px solid #12566c;
        }
      }
    }

    .inner {
      margin-top: 40px;
      display: flex;

      .mainContent {
        flex: 1;
        display: flex;
        gap: 20px 30px;
        flex-wrap: wrap;

        .item {
          cursor: pointer;
          max-width: 200px;

          .image {
            img {
              width: 200px;
              height: 300px;
            }
          }

          .profile {
            margin-top: 10px;
            display: flex;
            gap: 10px;

            .rank {
              font-size: 22px;
            }

            .name {
              font-size: 22px;
            }
          }
        }
      }

      .sideBar {
        width: 450px;
        border-left: 1px solid #999;
        padding: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;

        .articles {

        }

        .rank {

        }

        .categories {

        }

        .views {

        }

        .icon_wrapper {
          margin-top: 20px;
          padding-top: 10px;
          border-top: 1px solid #999;
          display: flex;
          justify-content: center;
          align-items: center;
          gap: 40px;

          .icon {
            a {
              display: flex;
              flex-direction: column;
              align-items: center;

              &:hover {
                p {
                  text-decoration: underline;
                }
              }

              img {
                width: 80px;
                height: 80px;
                object-fit: contain;
              }
            }
          }
        }
      }
    }
  }
}